<%-include("../partials/head")%>
    <div class="d-flex justify-content-flex-start py-5 align-items-center flex-column">
      <h3><%=video.title%></h3><br>
      <video
        style="height: 400px; width: 600px"
        id="videoPlayer"
        controls
        autoplay="autoplay"
      >
        <source
          src="http://localhost:3000/video/<%=vidName%>"
          type="video/mp4"
        />
      </video>
      <p>
        <%=video.desp%>
      </p>
    </div>
<%-include("../partials/tail")%>